
    body {
        background-color: #F5F5F5;
        font-family: 'Montserrat', sans-serif;
    }

    .sidebar {
        min-height: 100vh;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        background-image: url(../../image/sidebar_bg.png);
        background-position: center;
        background-size: cover;


    }
.list-group{
    --bs-list-group-bg:#F5F5F5;
}
    .list-group-item {

        color: #ffffff;
        border: 0;
        padding: 0;
        color: #000000;
        padding: 10px;
        border-radius: 0px;
        font-size: 1.2rem;

        margin-bottom: 10px;
        ;

    }

    ul {
        margin-block-start: 0em;
    }

    .list-group-item:first-child,
    .list-group-item:nth-child(2),
    .list-group-item:nth-child(3) {
        border-radius: 0px;
    }

    .Dashboard {
        font-size: 1.7rem;
        font-weight: 600;
        text-align: start;
        margin-left: 20px;
        color: #79D1C1;
        text-decoration:none;

    }

    .icons {
        color: #79D1C1;
        width: 40px;
        height: 40px;
    }

    .MPOS {
        color: #79D1C1;
        font-size: 2rem;
        font-weight: 600;
    }

    .icons_post {
        margin-top:10px;
        font-size: 1.9rem;
        color:#19d6b3;
    }
   

    .post_details{
        background-color: rgba(143, 148, 145,0.1);
    }
    .postTitle{
        color:#19d6b3;
    }
    .username{
        color:#19d6b3;
        font-size: 1.2rem;
    }
    .comment_box{
        padding:10px;
        min-height: 90vh;
        background: url(../../image/comment_bg.png);
        background-position: center;
        background-size: cover;
        backdrop-filter: blur(20px);

    }
.comment_inside_box{
    margin-top:10px;
    border-radius: 40px;
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, .25);
    background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
}
input[type="text"]{
width: 100%;
padding:20px;
border:0;
border-radius: 30px;
height: 55px;
border: 1px solid rgba(255, 255, 255, .25);
        
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(20px);
}
.send_comment{
    
  padding-right: 40px; /* Add padding to the right side of input field */
  background-image: url(../../image/send-1-svgrepo-com.png); /* Add arrow image as background */
  background-position: right center; /* Position the arrow image to the right of the input field */
  background-repeat: no-repeat; /* Don't repeat the arrow image */
  background-size: 40px 40px; /* Set the size of the arrow image */
}
.post_comment{
   position: absolute;
   bottom:5%;
   width: 100%;
}
    .list-group-item {background-color: #ffffff;}