<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:replace="~{internal/fragments/sidebar_container.html :: html_head('Post Approval')}"></th:block>

    <link th:href="@{/css/sidebar_container.css}" rel="stylesheet">
</head>

<body>
<div class="container-fluid">
<div class="row">

        <div th:replace="~{internal/fragments/sidebar_container.html :: sidebars_master}"> </div>
    <div class="col-md-10 border main_slide ">
        <div class="MPOS text-end me-2">
            MPOS
        </div>
        <table class="table table-bordered table-striped mt-3">
            <thead>
            <tr>

                <th>S.N.</th>
                <th>Title</th>
                <th>Category</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tbody th:each="p,index:${post}">
            <tr>
                <td th:text="${index.count}"></td>
                <td th:text="${p.title}"></td>
                <!--                        <td th:text="${p.category}"></td>-->
                <td th:text="${p.category}"></td>
                <td>Status Enum</td>
                <td>
                    <a th:href="@{/admin/view/}+${p.id}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
<!--                    <a>-->
<!--                        <i class="fa-solid fa-pen-to-square"></i>-->
<!--                    </a>-->
<!--                    <a th:href="@{/post/delete/} + ${p.id}">-->
<!--                        <i class="fa-solid fa-trash" style="color: #f50025;"></i>-->
<!--                    </a>-->
                </td>
            </tr>

            </tbody>

            </thead>

        </table>

</div>

      </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
</html>