<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<body>
<div th:fragment="post_card(postDtoObj)" class="col-md-3 mb-3" th:object="${postRequestDto}">
    <div class="cs-card card" style="width:100%;">
        <!--      TRANSPARENT OVERLAY -->
        <span class="card-overlay">
            <i class="fa-solid fa-heart icon-like"></i>
        </span>
        <img th:src="'/uploads/' + *{imageName}" class="cs-card-img-top card-img-top " alt="...">
        <div class="card-body">
<!--            refactor this -->
<!--            <h6 th:text="*{title}" class="card-title" style="margin-block:1em;"></h6>-->
            <p th:text="*{shortDescription}" class="card-text">
                Hi everyone this is the first post I have created hope you like and love my
                creation.
            </p>
            <div class="footer">
                <div class="row user_date">
                    <div class="col-md-6">
                        <!--            <i  class="fa-regular fa-pen-to-square card_icon ms-2 me-2"></i>-->
                        <i class="fa-solid fa-user card_icon ms-2 me-2"></i>
                        <span th:text="*{username}"></span>
                    </div>
                    <div class="col-md-6">

                        <a th:href="@{/post/view/}+ *{id}">
                            <i class="fa-regular fa-eye card_icon me-2"></i>
                        </a>
                        <span th:text="*{#temporals.format(publishedDate, 'dd/MM/yyyy')}">DD/MM/YYYY</span>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</body>
</html>