/* COMMON CSS */
:root{
    --clr-primary: red;
    --clr-secondary: green;
    --clr-tertiary: blue
}

/* clear defaults */
a{
    text-decoration: none !important;
}

/* ICONS */

.icon-container{
    min-width: 3em;
    display: flex;
    gap: .5em;
}

.icon-delete{
   color: var(--clr-primary);
}

.icon-view {
    color: var(--clr-secondary);
}

.icon-update {
    color: var(--clr-tertiary);
}

/* CATEGORY PAGE */
/*.disabled-category {*/
/*    font-style: italic;*/
/*    color: purple !important; !* This is overridden by table's css *!*/
/*}*/

.disabled-category,
.table-striped > tbody > tr:nth-of-type(2n+1):has(.disabled-category) > *
{
    font-style: italic;
    /*color: purple !important;*/
    background-color: #80008059;
}

/*.table-striped > tbody > tr .disabled-category td {*/
/*    font-style: italic;*/
/*    color: gray !important;*/
/*}*/