
    body {

        background-color: #F5F5F5;
        font-family: 'Montserrat', sans-serif;

    }
    

    :root {
        --animate-delay: 4s;
    }



    .sidebar {
        min-height: 100vh;

        padding-left: 0;
        padding-right: 0;
        height: auto;
        background-image: url(../image/sidebar_bg.png);
        background-position:center ;
        background-size: cover;
        background-color: #F5F5F5;

        
    }

    .list-group-item {

        color: #ffffff;
        border : 0;
        padding: 0;
       color:#000000;
        padding: 10px;
        border-radius: 0px;
        font-size: 1.2rem;
      background-color: #ffffff;
        margin-bottom: 10px;

    }

    ul {
        margin-block-start: 0em;
    }

    .list-group-item:first-child,
    .list-group-item:nth-child(2),
    .list-group-item:nth-child(3) {
        border-radius: 0px;
    }


    .upload_btn {
        width: 100%;
    }

  

    .card-img-top,
    .card {
        border-radius: 0;
    }

    .card-text {
        font-size: 0.8rem;
        padding: 8px;
        text-align: center;
    }

    .card-body {
        padding: 0;
    }

    .footer {
        background-color: #79D1C1;
    }
    .card_icon{
        font-size: 1rem;
        margin:10px auto;
       
        /* color:#ffffff; */
    }
    .Dashboard{
        font-size: 1.7rem;
        font-weight: 600;
        text-align: start;
        margin-left:20px ;
        color:#79D1C1;

    }
    .icons{
        color:#79D1C1;
        width:40px;
        height: 40px;
    }
    .list-group{
        --bs-list-group-bg:#F5F5F5;
    }

    .user_date{
        font-size: 0.7rem;
    }
    .MPOS{
        color:#79D1C1;
        font-size: 2rem;
        font-weight: 600;
    }

a{
    text-decoration: none
}

a:hover{
    cursor: pointer;
    transition:transform  0.9s;
    transform: scale(1.1);
}