<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <th:block th:replace="~{internal/fragments/sidebar_container.html :: html_head('Category')}"></th:block>

    <link rel="stylesheet" href="@{/css/index.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row">

        <!-- SIDEBAR MENU -->
        <div th:replace="~{internal/fragments/sidebar_container.html :: sidebars_master}"></div>

        <div class="col-md-4 ">
            <div class="form-data border p-3 mt-5">
                <!-- TOAST MESSAGE -->

                <toast-message
                        th:replace="~{fragments/toast-message-fragment :: toast_message(message=${message}, type=${messageType})}">
                </toast-message>

                <div class="fs-3 text-center mb-3">Create a new Category</div>
                <form th:action="@{/category/save}" th:object="${categoryDto}" method="post">
                    <th:block th:field="*{id}"></th:block>
                    <input type="text" th:field="*{id}" hidden>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" th:field="*{categoryName}" id="floatingInput"
                               placeholder="Category Name">
                        <label for="floatingInput">Category Name</label>
                    </div>
                    <!-- CATEGORY ACTIVE ? -->
                    <div class="form-floating mb-3">
                        <div class="form-check">
                            <input th:field="*{status}" class="form-check-input" type="checkbox" th:value="*{status}" id="flexCheckChecked" checked>
                            <label class="form-check-label" for="flexCheckChecked"> Active </label>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" placeholder="Description" th:field="*{description}"
                                  id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Description</label>
                    </div>
                    <button class="btn btn-primary " type="submit">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-striped mt-5">
                <thead>
                <td>S.N</td>
                <td>Category</td>
                <td>Description</td>
                <td>Active</td>
                <td>Action</td>
                </thead>
<!--                <span th:class="'base '+${condition ? 'condition-true' : 'condition-false'}">-->
                <tr th:each="category,index:${categoryDtoList}" th:class="${category.status ? '' : 'disabled-category'}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${category.categoryName}"></td>
                    <td th:text="${category.description}"></td>

                    <!-- icons for disabled or enabled category -->
                    <td th:if="${category.status}">
                        <i class="fa-solid fa-check icon-view"></i>
                    </td>
                    <td th:if="!${category.status}">
                        <i class="fa-solid fa-xmark icon-delete"></i>
                    </td>
                    <td>
                        <!-- Edit -->
                        <a th:href="@{/category/edit/} + ${category.id}">
                            <i class="fa-solid fa-pen-to-square" ></i>
                        </a>
                        <!-- Delete -->
                        <a th:href="@{/category/delete/} + ${category.id}">
                            <i class="fa-solid fa-trash" ></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</div>

<!-- Bootstrap scripts -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>


</html>