<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/loginPage.css}">

</head>
<body>
<div class="form">
  <div class="left">
    <form>
      <h2>Login</h2>

      <div class="form-group">
        <input type="text" id="email" name="email"  placeholder='Enter your email' required />
      </div>


      <div class="form-group">
        <input type="text" id="password" name="password" placeholder='Enter your password' required  />
      </div>

      <div class="form-group">
        <button type='submit'>Login</button>
      </div>

      <p class="message">Don't have an account? <a th:href="@{/register}">Create an account</a></p>
    </form>
  </div>

  <div class="right">
    <h2 id="company">META POST SYSTEM</h2>
    <img id="computer" th:src="@{images/laptop.png}" alt="laptop image">
    <img id="mug" th:src="@{images/mug.png}" alt="coffee mug">
    <img id="plant" th:src="@{images/plant.png}" alt="plant pot">
  </div>
</div>
</body>
</html>